@model ByYou.Models.UsuarioConvite

<form id="enviaConvite" action="@Url.Action("EnviaConvite", "Home")" method="POST">
    <h3>Faça seu login!</h3>
    @Html.LabelFor(x => x.Cpf, htmlAttributes: new { @class = "label" })
    @if (ViewBag.Cpf != null)
    {
        @Html.TextBoxFor(x => x.Cpf, htmlAttributes: new { Value = ViewBag.Cpf, @class = "text" })
    }
    else
    {
        @Html.TextBoxFor(x => x.Cpf, htmlAttributes: new { @class = "text" })
    }
    @Html.ValidationMessageFor(x => x.Cpf, "", new { @class = "text-danger" })
    
    @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "label" })
    @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "text" })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
    
    <div class="clearfix"></div>
    
    <input class="button" type="submit" value="Enviar" />
</form>

<script>
    $('#Cpf').inputmask('999.999.999-99').attr('readonly', true);
    cadastro.convite();
</script>