@model ByYou.Models.UsuarioCpf

<form id="verificaCpf" action="@Url.Action("VerificaCpf", "Home")" method="POST">
    <h3>Faça seu login!</h3>
    
    @Html.LabelFor(x => x.Cpf, htmlAttributes: new { @class = "label" })
    @Html.TextBoxFor(x => x.Cpf, htmlAttributes: new { @class = "text" })
    @Html.ValidationMessageFor(x => x.Cpf, "", new { @class = "text-danger" })

    <div class="validation-summary">
        @Html.ValidationMessage("error")
    </div>

    <input class="button" value="Validar" type="submit" />
</form>